@page "/minigame"
@namespace SBFirstLast4.Pages
@inject NavigationManager NavigationManager

<PageTitle>@AppTitle.Format("ミニゲーム")</PageTitle>
<link rel="stylesheet" href="css/fonts.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
<div class="container">
	<div class="minigame-header">
		ミニゲーム
	</div>
	<div class="minigame-menu-grid">
		<div class="minigame-tile" @onclick=WordleBtn_OnClick>
			<i class="fas fa-font minigame-tile-icon"></i>
			<div class="minigame-tile-title">Wordle</div>
			<div class="minigame-tile-description">
				６回以内のチャレンジで、隠された単語を推測しましょう
			</div>
		</div>
		<div class="minigame-tile" @onclick=TornGameBtn_OnClick>
			<i class="fas fa-language minigame-tile-icon"></i>
			<div class="minigame-tile-title">単語判定</div>
			<div class="minigame-tile-description">
				二文字の単語がタイプ付きかどうかを、すばやく判断しましょう
			</div>
		</div>
	</div>
</div>

<style>
	/* @@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap'); */

	body {
		font-family: mplus-1p-regular;
		background-color: #f5f6f1;
	}

	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 100vh;
		box-sizing: border-box;
		color: #333;
	}

	.minigame-header {
		font-family: mplus-1p-bold;
		font-size: 2.5rem;
		font-weight: 600;
		margin-bottom: 40px;
		text-align: center;
		color: #1a1a1a;
		letter-spacing: -1px;
	}

	.minigame-menu-grid {
		display: flex;
		flex-flow: column;
		gap: 35px;
		width: 100%;
		max-width: 800px;
	}

	.minigame-tile {
		background-color: white;
		border-radius: 12px;
		padding: 20px;
		text-align: center;
		font-size: 1rem;
		font-weight: 400;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
		transition: all 0.3s ease;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10px;
	}

	.minigame-tile-icon {
		font-size: 2.5rem;
		color: #4a4a4a;
		margin-bottom: 10px;
	}

	.minigame-tile-title {
		font-size: 1.2rem;
		font-weight: 600;
		margin-bottom: 5px;
	}

	.minigame-tile-description {
		font-size: 0.8rem;
		color: #6a6a6a;
		text-align: center;
		line-height: 1.4;
	}

	.minigame-tile:hover {
		transform: translateY(-5px);
		box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
		background-color: #f9f9f9;
	}

</style>

@code {
	private void WordleBtn_OnClick()
	{
		NavigationManager.GoTo(Locations.Minigame.Wordle);
	}

	private void TornGameBtn_OnClick()
	{
		NavigationManager.GoTo(Locations.Minigame.TornGame);
	}
}
