@font-face {
    font-family: 'mplus-1p-regular';
    src: url('../font/subset-mplus-1p-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'mplus-1p-bold';
    src: url('../font/subset-mplus-1p-bold.ttf') format('truetype');
}

html, body {
    font-family: 'Renner', mplus-1p-regular, sans-serif;
    box-sizing: border-box;
    height: 100%;
    margin: 0;
}

    body:after { /*擬似要素をつくる*/
        position: fixed; /*固定配置*/
        top: 0;
        left: 0; /*左上に固定*/
        width: 100%;
        height: 100%; /*画面全体を覆う*/
        content: "";
        /*background: linear-gradient(#44EED7, #22B4F0);*/
        z-index: -2;
    }

@media screen and (min-width: 450px) {
    #main {
        width: 450px;
        height: 100%;
        max-height: 700px;
    }

    #bg {
        width: 450px;
    }

    #timer {
        width: 450px;
    }

    #infos {
        width: 450px;
    }

    #form {
        top: 230px;
        position: absolute;
        width: 85%;
    }
}

@media screen and (max-width: 450px) {
    #main {
        width: 100%;
        height: 100%;
    }

    #bg {
        width: 100%;
    }

    #timer {
        width: 100%;
    }

    #infos {
        width: 100%;
    }

    #form {
        top: 230px;
        position: absolute;
        width: 85%;
        margin-left: 5px;
    }
}

#bg {
    height: 100%;
    z-index: -2;
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#main {
    position: absolute;
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: center;
    height: 100%;
    /*z-index: -1;*/
}


#ally-word {
    position: absolute;
    top: 110px;
    left: 0px;
    width: 50%;
    text-align: center;
    height: 100px;
    z-index: 1;
}

    #ally-word .word {
        font-size: 32px;
    }


#foe-word {
    position: absolute;
    top: 20px;
    right: 10px;
    z-index: 1;
    width: 50%;
    height: 120px;
    text-align: center;
}

    #foe-word .word {
        font-size: 32px;
    }

.foe-change {
    position: absolute;
    top: -20px;
    right: 10px;
    width: 50%;
    height: 170px;
    display: none;
}

.ally-change {
    position: absolute;
    top: 80px;
    left: 0px;
    width: 50%;
    height: 170px;
    display: none;
}

.types1 {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -32px;
}

.types2 {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -64px;
}

.types-char {
    position: absolute;
    top: 10px;
    left: 50%;
    width: 65%;
    font-size: 52px;
    text-align: center;
    margin-left: -64px;
    font-family: mplus-1p-bold;
}

.row-word {
    width: 100%;
    position: relative;
    display: none;
    clear: both;
}

.first {
    position: absolute;
    top: 60px;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    padding: 0;
    text-align: center;
    background-color: white;
    border-radius: 30px;
}

    .first > p {
        color: #2A2A2A;
        font-family: mplus-1p-bold;
        font-size: 40px;
        margin-top: -3px;
    }

.word {
    position: absolute;
    top: 70px;
    left: 50%;
    font-weight: bold;
    color: #2A2A2A;
    font-family: mplus-1p-bold;
    white-space: nowrap;
    letter-spacing: -2px;
    z-index: 1;
}

#text {
    width: 100%;
    display: none;
}

.hp-bar {
    width: 100%;
    height: 5px;
    background-color: #00DB0E;
}

#foe-info {
    position: absolute;
    left: 10px;
    width: 100%;
}

#s-foe-info {
    position: absolute;
    left: 10px;
    width: 40%;
}

#ally-info {
    margin-left: auto;
    margin-right: 10px;
    text-align: right;
    width: 80%;
}

#s-ally-info {
    margin-left: auto;
    margin-right: 10px;
    text-align: right;
    width: 40%;
}

#ally-tokusei {
    margin-top: 20px;
    margin-left: auto;
    margin-right: 10px;
    text-align: right;
    width: 40%;
}

#foe-tokusei {
    position: absolute;
    top: 20px;
    left: 10px;
    width: 40%;
}

.tokusei-name {
    background-color: #DCDADC;
    font-size: 16px;
}

.tokusei-desc {
    background-color: white;
    text-align: left;
}

#allyHP {
    float: right;
    display: block;
}

#allyHPnum {
    position: relative;
    clear: right;
    top: 4px;
}

#foeHPnum {
    position: relative;
    clear: right;
    top: 4px;
    left: 0px;
}

#infos {
    background-color: rgb(245, 246, 241);
    height: 110px;
    border-radius: 0 0 15px 15px;
    color: #2A2A2A;
    position: fixed;
    z-index: 1;
}

    #infos p {
        margin: 0;
    }

    #infos h3 {
        margin: 0;
    }

.icon {
    width: 64px;
    height: 64px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}

.message {
    text-align: center;
    background-color: /*#333333;*/ ghostwhite;
    width: fit-content;
    margin: 10px auto;
    border-radius: 4px;
    padding: 5px 8px;
    font-style: italic;
}

.type {
    text-align: center;
    line-height: 60%;
    width: 64px;
    top: 0px;
    float: left;
}

    .type span {
        font-size: 10px;
        word-break: keep-all;
        padding-left: 5px;
        padding-right: 5px;
        border-radius: 10px;
        background-color: white;
    }

#form {
    /*position: fixed;
    bottom: 0;*/
    z-index: 1;
    text-align: center;
}

#wait-message {
    background-color: white;
    width: fit-content;
    border-radius: 5px;
    font-style: italic;
    position: absolute;
    top: 280px;
}

#types {
    position: absolute;
    z-index: 1;
    opacity: 0;
    background: none;
    right: 0;
    top: -15px;
    width: 200px;
    pointer-events: none;
}

    #types .latest {
        background: none;
    }

#left-HP {
    width: 90%;
    background-color: #626362;
    height: 5px;
    position: absolute;
}

#left-HP-remain {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #00DB0E;
}

#right-HP {
    width: 90%;
    background-color: #626362;
    height: 5px;
    position: absolute;
}

#right-HP-remain {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #00DB0E;
}

#timeline {
    position: absolute;
    top: 220px;
}

#suggest {
    /*background-color: white;*/
}

#timer {
    display: none;
    font-family: 'arial black', 'arial', sans-serif;
    position: fixed;
    font-size: 20vh;
    top: 100px;
    opacity: 0.4;
    color: yellow;
    text-align: center;
}

#textinput {
    position: absolute;
    width: 83%;
    height: 30px;
    border-radius: 20px;
    font-size: 1.4em;
    /*border: 2px solid #646464;*/
    border: none;
    padding-top: 6px;
    padding-bottom: 4px;
    left: 5px;
    top: 0px;
    background-color: #E6ECF0;
    padding-left: 15px;
    font-family: mplus-1p-regular;
}

    #textinput:focus {
        outline: none;
        border-radius: 20px;
        border: 1px solid blue;
    }

#btn-submit {
    position: absolute;
    font-size: 1.3em;
    border: none;
    width: 42px;
    height: 42px;
    background-repeat: no-repeat;
    background-image: url("../images/paper-plane.svg");
    transform: rotate(45deg);
    z-index: 1;
    top: 0px;
    right: -30px;
    opacity: 0.3;
    background-color: white;
    border-radius: 19px 0 19px 19px;
    cursor: not-allowed;
}

    #text button:focus {
        outline: none;
    }

.A_up {
    background-color: indianred;
    color: white;
}

.B_up {
    background-color: indianred;
    color: white;
}

.noneffective {
    background-color: #d9d9d9;
    font-weight: bold;
}

.effective {
    background-color: #d92c2c;
    color: white;
    font-weight: bold;
}

.recoil {
    background-color: orange;
}

.heal {
    background-color: lightgoldenrodyellow;
}

.poisoned {
    color: white;
    background-color: #8f42d4;
}

.poison_damage {
    color: white;
    background-color: #8f42d4;
}

.seeded {
    background-color: #25582a;
    color: white;
}

.seed_damage {
    background-color: #25582a;
    color: white;
}

#suggest #label {
    margin-left: 5px;
    position: absolute;
    width: 50px;
    font-size: 0.5em;
    display: inline-block;
    text-align: center;
}

#effective-types {
    position: absolute;
    left: 60px;
    display: inline-block;
}

#next {
    display: none;
    background-color: transparent;
    position: absolute;
    right: 2px;
    width: 50%;
    top: 30%;
    text-align: center;
    z-index: 2;
}

    #next a {
        text-decoration: none;
        font-size: 2.5em;
        border-radius: 10px;
        color: white;
        background-color: #12A4D4;
        padding: 5px;
        margin: 0;
        z-index: 2;
    }

#ally_type {
    font-size: 5px;
    line-height: 60%;
    float: right;
}

#quit {
    position: absolute;
    top: 10px;
    left: 50%;
    width: 60px;
    margin-left: -30px;
    text-align: center;
    border: solid 1px #2A2A2A;
    border-radius: 10px;
    cursor: pointer;
}

#situation-modal {
    position: fixed;
    top: 20%;
    width: 90%;
    height: 80%;
    background-color: white;
    margin-left: 5%;
    z-index: 2;
    border-radius: 20px;
    display: none;
}




    #situation-modal .will-damaged {
        margin-left: 10px;
    }

#skill-modal {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    margin-left: 0;
    z-index: 2;
    border-radius: 0px;
    display: none;
}

    #skill-modal .tapto {
        margin-left: 10px;
        font-family: mplus-1p-bold;
    }

#skills {
    height: 50%;
    overflow: scroll;
}

#middle {
    position: absolute;
    top: 30%;
}

.skill-icon {
    width: 52px;
    height: 52px;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}

#skills div {
    text-align: center;
    line-height: 60%;
    width: 64px;
    top: 0px;
    float: left;
    padding: 2px;
    border: 1px solid white;
    box-sizing: border-box;
    background-color: #efe8e8;
    border-radius: 10px;
    z-index: 2;
    overflow: hidden;
}

#skills span {
    font-size: 10px;
    word-break: keep-all;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    background-color: white;
    letter-spacing: -1px;
}

.close-modal {
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0;
    background-color: #448ec6;
    color: white;
    text-align: center;
    line-height: 60px;
}

.large img {
    position: absolute;
    top: 25px;
    width: 100px;
    height: 100px;
}

.large span {
    font-size: 2.5em;
    font-family: mplus-1p-bold;
}

.small {
    width: 32px;
    height: 32px;
}

.pikapika {
    animation: pika2 0.1s infinite alternate;
}

@keyframes pika2 {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

#modal-message {
    background-color: cornflowerblue;
    color: white;
    position: absolute;
    width: 100%;
    z-index: 3;
}

#word-modal img {
    width: 32px;
    height: 32px;
}

#word-modal .type {
    width: 32px;
    top: 0px;
}

#type-modal img {
    width: 32px;
    height: 32px;
}

#type-modal .type {
    width: 32px;
    top: 0px;
}

.pre-message {
    position: absolute;
    letter-spacing: -2px;
    bottom: 10px;
    height: 10px;
    width: 120px;
    left: 50%;
    margin-left: -60px;
    text-align: center;
}

#preview {
    position: absolute;
    top: -50px;
    width: 200px;
    height: 90px;
    text-align: center;
}

#message {
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: #333333;
    color: white;
    text-align: left;
    top: 230px;
    padding: 10px;
    font-size: 1.2em;
}

#input {
    position: absolute;
    width: 88%;
    height: 30px;
    border-radius: 20px;
    font-size: 1.4em;
    /*border: 2px solid #646464;*/
    border: none;
    padding-top: 6px;
    padding-bottom: 4px;
    left: 5px;
    top: 0px;
    background-color: #E6ECF0;
    padding-left: 15px;
    font-family: mplus-1p-regular;
}

#foe-status {
    position: absolute;
    top: 10px;
    left: 0;
    width: 40%;
    height: 60px;
    background-color: white;
    padding: 5px;
    border-radius: 5px 5px 0 5px;
}

    #foe-status .tri {
        position: absolute;
        width: 0px;
        height: 0px;
        right: -9.5px;
        bottom: 0px;
        border-style: solid;
        border-width: 10px 0 0 10px;
        border-color: transparent transparent transparent white;
    }

#ally-status {
    position: absolute;
    top: 150px;
    right: 0;
    width: 40%;
    height: 60px;
    background-color: white;
    text-align: left;
    padding: 5px;
    border-radius: 5px 5px 5px 0;
}

    #ally-status .tri {
        position: absolute;
        width: 0px;
        height: 0px;
        left: -9.5px;
        bottom: 0px;
        border-style: solid;
        border-width: 0 0 10px 10px;
        border-color: transparent transparent white transparent;
    }

.field-shadow-wrapper {
    position: relative;
    overflow-x: clip;
}

.field-shadow {
    position: absolute;
    background-color: white;
    border-radius: 50%;
}

#foe-shadow {
    top: 100px;
    width: 40%;
    right: 25px;
    height: 40px;
}

#ally-shadow {
    width: 70%;
    height: 120px;
    top: 190px;
    left: -50px;
}

#game {
    position: absolute;
    width: 100%;
    height: 230px;
    background-size: cover;
}

#foe_type {
    display: block;
    float: left;
    margin-top: -10px;
}

#ally_type {
    display: block;
    margin-top: -10px;
}

#situation {
    display: none;
    top: 300px;
    width: 43%;
    height: 150px;
    background-color: #9A5252;
    border: 5px solid #C44041;
    margin-right: 20px;
    margin-left: 10px;
    line-height: 150px;
}

.sb-button {
    position: absolute;
    cursor: pointer;
    margin: 10px;
    border-radius: 10px;
}

    .sb-button > p {
        font-size: 18px;
        color: white;
        text-align: center;
        font-family: mplus-1p-bold;
        margin-top: -5px;
    }

#situation img {
    width: 70%;
}

#bgm-selection {
    position: absolute;
    top: 300px;
    width: 50%;
    height: 150px;
    text-align: center;
    cursor: pointer;
}

#skill {
    display: none;
    top: 300px;
    right: 0;
    width: 43%;
    height: 150px;
    background-color: #416F27;
    border: 5px solid #54A836;
    margin-right: 10px;
    margin-left: 20px;
    line-height: 150px;
}

#exit {
    top: 470px;
    margin-left: 25%;
    width: 50%;
    height: 70px;
    background-color: #28536F;
    line-height: 70px;
    border: 5px solid #A8F0FF;
}

    #exit img {
        width: 70%;
    }

.poison {
    background-color: #8f42d4;
    color: white;
    border-radius: 10px;
    padding: 0 10px;
    float: right;
    line-height: 100%;
}

#ally-poison {
    display: none;
}

#foe-poison {
    display: none;
}

#last-foe-word {
    margin: 10px;
}
