@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<div class="top-row ps-3 navbar navbar-dark">
	<div class="container-fluid">
		<a class="navbar-brand" @onclick=GoToHomeBtn_Click>SBFirstLast4</a>
		<button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
			<span class="navbar-toggler-icon"></span>
		</button>
	</div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
	<nav class="flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link" @onclick=GoToHomeBtn_Click>
				<span class="oi oi-project" aria-hidden="true"></span> しりとり単語検索
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="typed">
				<span class="oi oi-list-rich" aria-hidden="true"></span> しりバト単語検索
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="safe">
				<span class="oi oi-heart" aria-hidden="true"></span> 安全単語検索
			</NavLink>
		</div>
		@if (AppSettings.BetaMode)
		{
			<div class="nav-item px-3">
				<NavLink class="nav-link" href="treesearch">
					<span class="oi oi-fork" aria-hidden="true"></span> グループ検索
				</NavLink>
			</div>
		}
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="typecheck">
				<span class="oi oi-magnifying-glass" aria-hidden="true"></span> タイプ判定
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="bestdamage">
				<span class="oi oi-contrast" aria-hidden="true"></span> 最高打点検索
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="calcdamage">
				<span class="oi oi-calculator" aria-hidden="true"></span> ダメージ計算
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="simulator">
				<span class="oi oi-puzzle-piece" aria-hidden="true"></span> 簡易シミュレーター
			</NavLink>
		</div>
		@if(AppSettings.BetaMode)
		{
			<div class="nav-item px-3">
				<NavLink class="nav-link" href="rev-simulator">
					<span class="oi oi-layers" aria-hidden="true"></span> 革命シミュレーター
				</NavLink>
			</div>
		}
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="manualquery">
				<span class="oi oi-terminal" aria-hidden="true"></span> 手動クエリ
			</NavLink>
		</div>
		@if(AppSettings.IsDebug || AppSettings.IsAdmin)
		{
			<div class="nav-item px-3">
				<NavLink class="nav-link" href="about">
					<span class="oi oi-people" aria-hidden="true"></span> 対戦
				</NavLink>
			</div>
		}
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="settings">
				<span class="oi oi-wrench" aria-hidden="true"></span> 設定
			</NavLink>
		</div>
		@if (AppSettings.IsDebug || AppSettings.IsAdmin)
		{
			@*
			<div class="nav-item px-3">
				<NavLink class="nav-link" href="about">
					<span class="oi oi-eye" aria-hidden="true"></span> 当サイトについて
				</NavLink>
			</div>
			*@
			<div class="nav-item px-3">
				<NavLink class="nav-link" href="debug">
					<span class="oi oi-cog" aria-hidden="true"></span> デバッグ モード
				</NavLink>
			</div>
		}
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="sound-room">
				<span class="oi oi-musical-note" aria-hidden="true"></span> サウンドルーム
			</NavLink>
		</div>
	</nav>
</div>

@code {
	private bool collapseNavMenu = true;

	private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

	private void ToggleNavMenu()
	{
		collapseNavMenu = !collapseNavMenu;
	}
	private async Task GoToHomeBtn_Click()
	{
		if (Words.IsLite)
		{
			if (await JSRuntime.Confirm("完全版の辞書が読み込まれていないため、辞書選択画面に戻ります。よろしいですか？"))
				NavigationManager.NavigateTo("top", false);

			return;
		}

		NavigationManager.NavigateTo("home", false);
	}
}
