@page "/debug"
@layout NoMenuLayout
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime


<p>@Kikurage</p>

<style>
	body{
		background-color: black;
	}
	p{
		color: darkred;
	}
</style>

@code {
	private string Kikurage = string.Empty;

	protected override async Task OnInitializedAsync()
	{
		if (!await JSRuntime.Confirm("きくらげですか？"))
			return;

		while (true)
			await JSRuntime.Alert(Kikurage += "きくらげ");

	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (!firstRender) return;

		while (true)
			foreach(var i in "きくらげ")
			{
				Kikurage += i;
				StateHasChanged();
				await Task.Delay(1);
			}
	}
}
