@page "/debug"
@layout NoMenuLayout
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
<PageTitle>きくらげ</PageTitle>

<p>@Kikurage</p>

<style>
	body {
		background-color: black;
	}

	p {
		color: darkred;
	}
</style>

@code {
	private string Kikurage = string.Empty;

	protected override async Task OnInitializedAsync()
	{
		if (!await JSRuntime.Confirm("きくらげですか？"))
			return;

		var kikurage = string.Empty;

		while (true)
			await JSRuntime.Alert(kikurage += "きくらげ");

	}

	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (!firstRender) return;

		var timeLimit = new Random().Next(300, 400);
		while (timeLimit --> 0)
			foreach (var i in "きくらげ")
			{
				Kikurage += i;
				StateHasChanged();
				await Task.Delay(1);
			}

		throw new();
	}
}

.