@page "/debug"
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime


<div class="container">
	<button @onclick=DebugButton_Click>DEBUG</button>
	<label>@UpdateText</label>
	<label>@DebugContent</label>
</div>

@code {
	private string UpdateText = string.Empty;
	private string DebugContent = string.Empty;
	private void DebugButton_Click()
	{
		throw new Exception("Example exception");
	}
}
