@page "/debug"
@implements IAsyncDisposable
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject HttpClient Http

<head>
	<script type="text/javascript">
		function onDblClick() {
			alert("Hello World from Javascript!");
		}
		$(function () {
			$("button").click(function () {
				alert("Hello World from jQuery!");
			});
		});
	</script>
</head>

<button @onclick=@(async() => await Task.CompletedTask)>Button</button>

<select class="dropdown">
	<option disabled hidden selected value>＋</option>
	<option>Option 1</option>
	<option>Option 2</option>
</select>

<style>
	.dropdown {
		-moz-appearance: none;
		-webkit-appearance: none;
	}

		.dropdown::-ms-expand {
			display: none;
		}
</style>


@code {
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
			await JSRuntime.InvokeVoidAsync("eval", "document.addEventListener('dblclick', onDblClick);");
	}

	public async ValueTask DisposeAsync()
	{
		await JSRuntime.Alert("Bye!!");
		await JSRuntime.InvokeVoidAsync("eval", "document.removeEventListener('dblclick', onDblClick);");
	}
}