@page "/ldload"
@layout NoMenuLayout
@inject NavigationManager NavigationManager
@implements IDisposable
<PageTitle>トップページ</PageTitle>
<div class="file-input">
	<InputFile OnChange="HandleFileSelected" multiple />
</div>
<button @onclick=TmpBtn_OnClick>
	確定
</button>
<style>
	.file-input {
		border: 2px dashed lightgray;
		background-color: white;
		color: black;
		cursor: pointer;
		padding: 10px;
		margin: 10px;
	}
</style>

@code {
	private static readonly string[] TmpWords = ["ぬがー 食べ物", "にちろせんそう 社会 暴力", "cat 動物"];


	internal static bool Accepting { get; set; }

	protected override void OnInitialized()
	{
		if (!Accepting)
			NavigationManager.GoToIndex();
	}

	public void Dispose() => Accepting = false;

	private async Task HandleFileSelected(InputFileChangeEventArgs e)
	{

	}

	private void TmpBtn_OnClick()
	{
		foreach (var i in TmpWords.Select(x => x.Split()))
			Words.TypedWords.Add(Word.FromVerbatim(i.At(0), i.At(1) ?? string.Empty, i.At(2) ?? string.Empty));

		NavigationManager.NavigateTo("typed", false);
	}
}
