@page "/rev-simulator"
@using SBFirstLast4.Specialized.RevSimulator

@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<PageTitle>革命シミュレーター</PageTitle>

@if (IsRunning)
{
	<p style="color: gray">Running...</p>
	return;
}

<br />
<button @onclick=RunBtn_OnClick>Run!</button>

<br />

@Result
<br />

FirstWord
<input maxlength="1" @bind=FirstWordName />
<br />

SubType
<select @onchange="e => FirstWordType = (e.Value as string)?.StringToType() ?? default">
	@foreach (var i in Enum.GetValues<WordType>().Select(t => t == default ? "なし" : t.TypeToString()))
	{
		<option value="@i">@i</option>
	}
</select>

<br />

My HP
<input type="number" @bind=AllyHP />
<br />

Enemy HP
<input type="number" @bind=FoeHP />
<br />

My ATK
<input type="number" @bind=AllyATK />
<br />

Enemy ATK
<input type="number" @bind=FoeATK />
<br />

My DEF
<input type="number" @bind=AllyDEF />
<br />

Enemy DEF
<input type="number" @bind=FoeDEF />
<br />

My Random
<input type="number" @bind=AllyRandom />
<br />

Enemy Random
<input type="number" @bind=FoeRandom />
<br />

@code {

	private string FirstWordName = "あ";

	private WordType FirstWordType = default;

	private int AllyHP = 60;
	private int FoeHP = 60;

	private double AllyATK = 1;
	private double FoeATK = 1;

	private double AllyDEF = 1;
	private double FoeDEF = 1;

	private double AllyRandom = 0.85;
	private double FoeRandom = 0.85;

	private string Result = "結果: なし";

	private bool IsRunning;

	protected override void OnInitialized()
	{
		if (!AppSettings.IsLoggedIn)
		{
			NavigationManager.NavigateTo("", false);
			return;
		}
		if (!Words.IsLoadedCorrectly)
			NavigationManager.NavigateTo("top", false);
	}

	private async Task RunBtn_OnClick()
	{
		IsRunning = true;
		StateHasChanged();
		await Task.Delay(1);
		var result = Main.EntryPoint(new(FirstWordName, WordType.Play, FirstWordType), AllyHP, AllyATK, AllyDEF, AllyRandom, FoeHP, FoeATK, FoeDEF, FoeRandom);
		Result = $"結果: {result.Count}[{result.StringJoin(", ")}]";
		IsRunning = false;
		StateHasChanged();
	}

}
