@page "/rev-simulator"
@using SBFirstLast4.Logging
@using SBFirstLast4.Specialized.RevSimulator
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime

<PageTitle>革命シミュレーター</PageTitle>

@if (IsRunning)
{
	<p style="color: gray">計算中...</p>
	return;
}

<br />
<button @onclick=RunBtn_OnClick>Run!</button>

<br />

FirstWord
<input maxlength="1" @bind=FirstWordName />
<br />

SubType
<select @bind=FirstWordTypeStr>
	@foreach (var i in Enum.GetValues<WordType>().Select(t => t == default ? "なし" : t.TypeToString()))
	{
		<option value="@i">@i</option>
	}
</select>

<br />

My HP
<input type="number" @bind=AllyHP />
<br />

Enemy HP
<input type="number" @bind=FoeHP />
<br />

My ATK
<input type="number" @bind=AllyATK />
<br />

Enemy ATK
<input type="number" @bind=FoeATK />
<br />

My DEF
<input type="number" @bind=AllyDEF />
<br />

Enemy DEF
<input type="number" @bind=FoeDEF />
<br />

My Random
<input type="number" @bind=AllyRandom />
<br />

Enemy Random
<input type="number" @bind=FoeRandom />
<br />

Max Length
<input type="number" @bind=MaxLength />
<br />

@code {

	private static string FirstWordName = "あ";

	private static string FirstWordTypeStr = "なし";
	private WordType FirstWordType => FirstWordTypeStr.StringToType();

	private static int AllyHP = 60;
	private static int FoeHP = 60;

	private static double AllyATK = 1;
	private static double FoeATK = 1;

	private static double AllyDEF = 1;
	private static double FoeDEF = 1;

	private static double AllyRandom = 0.85;
	private static double FoeRandom = 0.85;

	private static int MaxLength = 100;

	private List<string> BannedWords = [];

	private bool IsRunning;

	protected override void OnInitialized()
	{
		if (!AppSettings.IsLoggedIn)
		{
			NavigationManager.NavigateTo("", false);
			return;
		}
		if (!Words.IsLoadedCorrectly)
			NavigationManager.NavigateTo("top", false);
	}

	private async Task RunBtn_OnClick()
	{
		IsRunning = true;
		StateHasChanged();
		await Task.Delay(10);
		RevSimulatorResult.History = Main.EntryPoint(
			firstWord: new(FirstWordName, WordType.Play, FirstWordType),
			ally: (AllyHP, AllyATK, AllyDEF, AllyRandom),
			foe: (FoeHP, FoeATK, FoeDEF, FoeRandom),
			maxLength: MaxLength,
			bannedWords: BannedWords.ToHashSet()
		);
		Server.Log(new
		{
			Type = "REV_SIMULATOR",
			Char = FirstWordName,
			WType = FirstWordTypeStr,
			HP = $"{AllyHP} {FoeHP}",
			ATK = $"{AllyATK} {FoeATK}",
			DEF = $"{AllyDEF} {FoeDEF}",
			Rand = $"{AllyRandom} {FoeRandom}",
			MaxLen = MaxLength,
			Banned = $"{BannedWords.StringJoin(" ")}",
			UserInfo = new
			{
				Name = AppSettings.UserName,
				Guid = AppSettings.Guid,
				Hash = AppSettings.Hash,
			},
			Date = DateTime.Now
		});

		NavigationManager.NavigateTo("rev-simulator-result");
	}

}
