@page "/simulator-skill"
@layout NoMenuLayout
@using SBFirstLast4.Simulator
@inject NavigationManager NavigationManager

<PageTitle>簡易シミュレーター</PageTitle>

<html lang="ja">
<head>
	<link rel="stylesheet" href="css/simulator.css" />
</head>
<body>
	<style>

		html {
			height: 100%;
			margin: 0;
			padding: 0;
		}

		body {
			height: 100%;
			margin: 0;
			padding: 0;
		}

		#main {
			height: 100%;
			width: 100%;
		}

		iframe {
			border-width: 0;
		}

		.label {
			position: relative;
			width: 140px;
			box-shadow: 4px 4px 4px lightgrey;
			padding: 2px 30px 2px 30px;
			border-radius: 30px;
			left: 50%;
			margin-left: -100px;
			margin-top: 20px;
			background-color: white;
			font-size: 1.2em;
			letter-spacing: -1px;
		}

		body {
			text-align: left;
			font-size: 1em;
			font-family: 'Renner', mplus-1p-regular, sans-serif;
			margin: 0;
			padding: 0;
			overflow-x: hidden;
			background: rgb(245, 246, 241);
			overflow-y: scroll;
		}

		#title h1 {
			font-size: 2em;
			font-weight: normal;
			font-family: mplus-1c-black;
			letter-spacing: -7px;
			margin: -10px 0 0;
		}

		#f {
			position: absolute;
			width: 100%;
			top: 40%;
		}

		#i1 {
			position: absolute;
			width: 80%;
			left: 10px;
			font-size: 1.4em;
		}

		#f button {
			position: absolute;
			right: 5px;
		}


		#message {
			background-color: cornflowerblue;
			color: white;
			position: absolute;
			width: 100%;
		}

		#top {
			font-size: 1.8em;
			font-family: mplus-1p-bold;
			letter-spacing: -3px;
			color: black;
			text-decoration: none;
			display: block;
			margin-bottom: 20px;
			margin-top: 20px;
			margin-left: 10px;
			text-align: left;
		}

		#equipment {
			background-color: white;
			width: 80%;
			position: relative;
			left: 50%;
			top: 20px;
			margin-left: -40%;
			height: fit-content;
			padding-bottom: 15px;
			border-radius: 35px;
			box-shadow: 4px 4px 4px lightgrey;
		}

		#name {
			display: block;
			margin-top: 8px;
			margin-left: 0px;
			padding-left: 10px;
			font-size: 28px;
			text-align: left;
			font-family: mplus-1p-bold;
			font-style: italic;
		}

		#equipment img {
			margin-top: 10px;
			margin-right: 0;
			margin-left: 30px;
			float: left;
			width: 72px;
			height: 72px;
		}

		.label {
			position: relative;
			width: 140px;
			box-shadow: 4px 4px 4px lightgrey;
			padding: 2px 30px 2px 30px;
			border-radius: 30px;
			left: 50%;
			margin-left: -100px;
			margin-top: 20px;
			background-color: white;
			font-size: 1.2em;
			letter-spacing: -1px;
		}

		#box {
			position: relative;
			top: 10px;
			width: 90%;
			left: 50%;
			margin-left: -40%;
			margin-bottom: 100px;
		}

			#box img {
				background-color: white;
				border-radius: 10px;
				margin: 2px;
				padding: 1px;
				opacity: 0.1;
				cursor: pointer;
				width: 72px;
				height: 72px;
			}

		#desc {
			position: relative;
			display: none;
			text-align: left;
			padding-left: 15px;
			padding-right: 15px;
			font-size: 22px;
		}

		#effect-name {
			background-color: #DCDADC;
			font-size: 28px;
		}

		#effect {
			font-size: 22px;
		}

		#type-modal {
			overflow: hidden;
			position: fixed;
			top: 370px;
			width: 90%;
			height: 50%;
			background-color: white;
			margin-left: 5%;
			z-index: 2;
			border-radius: 20px;
			display: none;
		}

		.type {
			text-align: center;
			line-height: 60%;
			width: 32px;
			margin-left: 0;
			position: relative;
			top: 0;
			float: left;
			font-size: 8px;
		}

			.type img {
				width: 32px;
			}

		.examples {
			position: relative;
			width: 80%;
			left: 50%;
			margin-left: -40%;
		}

		img {
			image-rendering: pixelated;
			image-rendering: -moz-crisp-edges;
			-ms-interpolation-mode: nearest-neighbor;
		}
	</style>
	<div id="main">
		<div id="message">@(ShowMessage ? "とくせいを変更しました" : string.Empty)</div>
		<div id="type-modal">
			<div class="will-damage"></div>
			<br>
			<div class="will-damaged"></div>
			<br>
			<div class="examples"></div>
		</div>
		<a id="top" @onclick=BackButton_Click>← もどる</a>
		<div class="label">とくせい</div>
		<div id="equipment">
			<p>
				<img src="images/@CurrentAbility.ImgFile"><br>
				<span id="name">@CurrentAbility.ToString()</span>
			</p>
			<!---<button id="button-examples">詳細</button>-->
			<div id="desc" style="display: block;"><div id="effect">@CurrentAbility.Description</div></div>
		</div>
		<br>
		<br>
		<div class="label">ボックス</div>
		<div id="box">
			@foreach (var ability in AbilityManager.Abilities)
			{
				<img id="@ability.GetType().Name" class="icon" src="images/@ability.ImgFile" style=@(CurrentAbility.ToString() == ability.ToString() ? "opacity: 1; border: 1px solid rgb(223, 59, 76); margin: 1px;" : "opacity: 1; border: none; margin: 2px;") @onclick="async() =>
				{
					CurrentAbility = ability;

					if(Selector == PlayerSelector.Player1)
						Simulator.Player1Ability = ability;
					else
						Simulator.Player2Ability = ability;

					await PlayConcent();
					ShowMessage= true;
					StateHasChanged();
					await Task.Delay(500);
					ShowMessage = false;
					StateHasChanged();
				}">
			}
		</div>
	</div>


</body>
</html>
@code {
	public static PlayerSelector Selector { get; internal set; } = PlayerSelector.Player1;
	public static Ability CurrentAbility { get; internal set; } = new Debugger();

	private static Task PlayConcent() => SBAudioManager.PlayAudio("concent");
	private bool ShowMessage;

	private async Task BackButton_Click()
	{
		await SBAudioManager.PlayAudio("pera");
		NavigationManager.NavigateTo("simulator");
	}
}
