@page "/node-menu-last"
@using SBFirstLast4.Pages
@inject IJSRuntime JSRuntime

<div class="menu-content" style="display: @NodeMenu.DisplayAttr(ShowMenu.Last)">
	<div style="display: flex; flex-flow: row; text-align: center; padding-left: 12px; padding-right: 12px;">
		<input class="select-menu" maxlength="1" style="width: 46px;" @bind=BindInput />
		<p style="margin-left: 16px; margin-right: 16px; align-self: center; margin-top: 12px; margin-bottom: 16px;">
			で
		</p>
		<select class="select-menu" @bind=BindEquality>
			<option value="終わる">終わる</option>
			<option value="終わらない">終わらない</option>
		</select>
	</div>
</div>

<style>
	.menu-content {
		display: block;
		position: absolute;
		background-color: #f9f9f9;
		min-width: 160px;
		max-height: 300px;
		overflow-y: scroll;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		z-index: 10;
	}

	.select-menu {
		-moz-appearance: none;
		-webkit-appearance: none;
		color: black;
		padding: 8px 12px;
		margin-top: 12px;
		margin-bottom: 12px;
		text-decoration: none;
	}

		.select-menu::-ms-expand {
			display: none;
		}

</style>
@code {
	[Parameter]
	public ShowMenuUI ShowMenu { get; set; } = null!;

	[Parameter]
	public List<Node> Nodes { get; set; } = null!;

	[Parameter]
	public LastNode? EditNode { get; set; }

	[Parameter]
	public ActionWrapper OnHide { get; set; } = null!;

	private string BindInput = string.Empty;

	private string BindEquality = "終わる";

	private LastNodeBuilder Builder = new();

	protected override void OnAfterRender(bool isFirstRender)
	{
		if (isFirstRender && ShowMenu.Last)
		{
			OnHide.Add(OnHide_Handler);
			if (EditNode is null)
				return;

			BindInput = EditNode.Last.ToString();
			BindEquality = EditNode.Equality == EqualityOperator.Equal ? "終わる" : "終わらない";
			StateHasChanged();
		}
	}

	private void OnHide_Handler()
	{
		ShowMenu.AlterDefault();
		var last = BindInput.At(0);
		if (last == default)
		{
			Unsubscribe();
			return;
		}

		if (EditNode is not null)
		{
			EditNode.Last = last;
			EditNode.Equality = Equality();
			Unsubscribe();
			return;
		}

		Builder.Last = last;
		Builder.Equality = Equality();
		Nodes.Add(Builder.Build());
		Unsubscribe();
	}

	private void Unsubscribe() => OnHide.Remove(OnHide_Handler);

	private EqualityOperator Equality() => BindEquality == "終わる" ? EqualityOperator.Equal : EqualityOperator.NotEqual;
}

